<mat-card>
    <mat-card-content fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem">
        <div fxFlex="33">
            <img [src]="product.image" alt="" />
        </div>
        <div fxFlex fxLayout="column" class="content" fxLayoutAlign="space-between stretch" fxLayoutGap="1rem">
            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <h2>{{ product.title }}</h2>
                    <span class="price">{{ product.price }} €</span>
                </div>
                <p>{{ product.description }}</p>
            </div>
            <button mat-icon-button [color]="product.favorite ? 'accent' : 'none'" (click)="toggleFavorite()">
                <mat-icon>{{ product.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
