<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ 'site.title' | translate }}</span>
    <div>
        <button mat-icon-button color="accent" id="btn-lang" [matMenuTriggerFor]="menu">
            <mat-icon>language</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let lang of langs" mat-menu-item [id]="'btn-lang-' + lang" (click)="changeLang(lang)">
                {{ 'language.' + lang | translate }}
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
