<mat-card [class.complete]="!compact">
    <ng-container *ngIf="compact">
        <mat-card-header>
            <mat-card-title>{{ product.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.image" alt="" />
    </ng-container>
    <mat-card-content *ngIf="!compact" fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem">
        <div fxFlex="33">
            <img [src]="product.image" alt="" />
        </div>
        <div fxFlex fxLayout="column" class="content" fxLayoutAlign="space-between stretch" fxLayoutGap="1rem">
            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <h2>{{ product.title }}</h2>
                    <span class="price">{{ product.price }} €</span>
                </div>
                <p>{{ product.description }}</p>
            </div>
            <button mat-icon-button [color]="product.favorite ? 'accent' : 'none'" (click)="toggleFavorite()">
                <mat-icon>{{ product.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="compact">
        <button mat-icon-button color="accent">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
